<main>
    <header>
        <nav class="navbar container-fluid col-6">
            <a class="btn btn-default" role="button" href="/dashboard">Dashboard</a>
            <a class="btn btn-default" role="button" id="btnLogout" href="/login">Logout</a>
        </nav>
    </header>
    <div class="container">
        <h1>Posts</h1>
        {{#each posts}}
        <div class="post container">
            <h2 class="title">{{title}}</h2>
            <p class="content">{{content}}</p>
            {{!-- <p>by: {{user}}</p> todo this isn't working--}}
        </div>
        {{/each}}
    </div>

    <script src="/js/homepage.js"></script>
    <script src="/js/logout.js"></script>
</main>