<header>
    <div class="header">
        <h1>Welcome to the {{title}}:</h1>
        <h3>Where Code Meets Creativity</h3>
    </div>
    {{!-- {{#if user}}
    <a href="/logout" class="logout">Logout</a>
    {{/if}} --}}
</header>
<div class="container">
    {{#each posts}}
    <div class="post">
        <h2>{{title}}</h2>
        <p>{{content}}</p>
        {{!-- <p>by: {{user}}</p>  todo this isn't working--}}
    </div>
    {{/each}}
</div>

<script src="/js/homepage.js"></script>